
<%= simple_form_for @motorcycle , html: {class: "horizontal-form"} do |f| %>

  <%= f.input :manufacturer, collection: Motorcycle::MANUFACTURERS %>
  <%= f.input :model %>
  <%= f.input :style, collection: Motorcycle::STYLES %>
  <%= f.input :production_year %>
  <%= f.input :engine_size %>
  <%= f.input :engine_type %>
  <%= f.input :horsepower %>
  <%= f.input :license_plate %>
  <%= f.input :description %>
  <%= f.input :pickup_address %>
  <%= f.input :city %>
  <%= f.input :zip_code %>
  <%= f.input :autonomy_km %>
  <%= f.input :price_per_day %>

  <div class="form-actions text-center">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=PUT_YOUR_OWN_KEY_HERE">
</script>

<!-- Custom JS code to bind to Autocomplete API -->
<!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
<!-- We'll detail this file in the article -->
<script type="text/javascript" src="autocomplete.js"></script>