<h2><%= @motorcycle.manufacturer %>, <%= @motorcycle.model %></h2>

<ul>
  <%= image_tag @motorcycle.picture.url(:medium) %>
  <li>Manufacturer :<%= @motorcycle.manufacturer %></li>
  <li>Model : <%= @motorcycle.model %></li>
  <li>Style : <%= @motorcycle.style %></li>
  <li>production_year : <%= @motorcycle.production_year %></li>
  <li>Engine size :<%= @motorcycle.engine_size %></li>
  <li>Engine type : <%= @motorcycle.engine_type %></li>
  <li>Horsepower : <%= @motorcycle.horsepower %></li>
  <li>License plate :<%= @motorcycle.license_plate %></li>
  <li>Pickup address : <%= @motorcycle.pickup_address %></li>
  <li>Longitude : <%= @motorcycle.longitude %></li>
  <li>Latitude : <%= @motorcycle.latitude %></li>
  <li>Autonomy (km) : <%= @motorcycle.autonomy_km %></li>
  <li>Description : <%= @motorcycle.description %></li>
</ul>

<ul>
  <li><%= link_to 'Back to the list', motorcycles_path  %></li>
  <li><%= link_to 'Modify this motorcycle', edit_motorcycle_path %></li>
  <li><%= link_to "Delete this motorcycle", @motorcycle, method: :delete %></li>
</ul>