
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">

      <div class="center-form">

        <h2><%= @motorcycle.manufacturer %>, <%= @motorcycle.model %></h2>

        <div class="show-div show-photos">
          <% @motorcycle.photos.each do |photo| %>
            <%= image_tag photo.picture.url(:medium) %>
          <% end %>
        </div>

        <div class="show-div text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div class="row text-center">
                <div class="col-xs-6">
                  photo</br> <%= current_user.first_name %>
                </div>
                <div class="col-xs-6">
                  <%= @motorcycle.manufacturer %>, <%= @motorcycle.model %></br>
                  <%= @motorcycle.city %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 border-darkgrey">
              <div class="row booking-title">
                <div class="col-xs-12 col-sm-12">
                  <%= @motorcycle.price_per_day %>€ / day
                </div>
              </div>
              <div class="row booking-content">
                <%= simple_form_for [@booking], url: motorcycle_bookings_path(@motorcycle) do |f| %>
                  <%= f.hidden_field :motorcycle_id, value: @motorcycle.id %>
                  <div class="col-xs-12 col-sm-12">
                    <div class="row booking-fields">
                      <div class="col-xs-6 col-sm-6">
                        <%= f.input :pickup_date, as: :string, start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year], placeholder:'dd/mm/yyyy' %>
                      </div>
                      <div class="col-xs-6 col-sm-6">
                        <%= f.input :return_date, as: :string, start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year], placeholder:'dd/mm/yyyy' %>
                      </div>
                    </div>
                    <div class="row booking-send">
                      <div class="col-xs-12 col-sm-12">
                        <%= f.button :submit, 'Book now!', id: "nav-btn" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>

        <div class="show-div show-caracteristics">
          <div class="text-center">
            <h3>Characteristics</h3>
          </div>
          <div class="row text-center">
            <div class="col-xs-12 col-sm-6 col-md-3">
              Manufacturer: <strong><%= @motorcycle.manufacturer %></strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              Model: <strong><%= @motorcycle.model %></strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              Style: <strong><%= @motorcycle.style %></strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              Production year: <strong><%= @motorcycle.production_year %></strong>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-12 col-sm-6 col-md-3">
              &nbsp
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-12 col-sm-6 col-md-3">
              Engine size: <strong><%= @motorcycle.engine_size %></strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              Engine type: <strong><%= @motorcycle.engine_type %></strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              Horsepower: <strong><%= @motorcycle.horsepower %></strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              Autonomy (km): <strong><%= @motorcycle.autonomy_km %></strong>
            </div>
          </div>
        </div>

        <div class="show-div show-description">
          <div class="text-center">
            <h3>Description</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              Description: <%= @motorcycle.description %>
            </div>
          </div>
        </div>

        <div class="show-div show-actions">
          <div class="row">
            <div class="col-xs-12">
              <%= link_to 'Add photo', new_motorcycle_photo_path(@motorcycle) %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to 'Edit', edit_motorcycle_path %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to "Delete", @motorcycle, method: :delete %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to 'Back', motorcycles_path  %>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @motorcycle_coordinates %>;
      alert('Motorcycle coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
